<h1>Restaurant list</h1>

<% if @restaurants.count == 0 %>

    <h1>There are no Restaurants. Please suggested one.</h1>
<% else %>
    <div class="row">

        <% @restaurants.each do |restaurant| %>
            <div class="col-md-12">
                <h2> <%= link_to restaurant.name, restaurant_path(restaurant)  %></h2>
                 <h5>  <%=  restaurant.lastVisit %></h5>
            </div>
        <% end %>
    </div>
    
<% end %>

